################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/Services/InsightFlow/ProcessHub/bin
/src/Services/InsightFlow/ProcessHub/obj
/src/Services/InsightFlow/ProcessHub/ProcessHub.csproj.user
/src/Services/InsightFlow/ProcessHub/ProcessHub.API.csproj.user
/src/Services/InsightFlow/ProcessHub.Domain/obj
/src/Services/InsightFlow/ProcessHub.Domain/bin
/src/Services/InsightFlow/Infrastructure/bin
/src/Services/InsightFlow/Infrastructure/obj
/src/Services/InsightFlow/.vs
/src/Services/InsightFlow/ProcessHub/.config
/src/DataManagement.FunctionalTests/obj
