################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/InsightFlow/.vs/InsightFlow
/src/InsightFlow/ProcessHub/bin/Debug/net7.0
/src/InsightFlow/ProcessHub/obj
/src/InsightFlow/ProcessHub/ProcessHub.csproj.user
/src/InsightFlow/.vs/ProjectEvaluation
/src/InsightFlow/ProcessHub/ProcessHub.API.csproj.user
